/* ----------------------------------------------------------------------- */
/* 0. HEADER */
/* ----------------------------------------------------------------------- */

.loading 
	z-index: 8
	background: linear-gradient(245deg, rgba($blue,1), rgba($green-light, 1))
	background: -moz-linear-gradient(245deg, rgba($blue,1), rgba($green-light, 1))
	background: -webkit-linear-gradient(245deg, rgba($blue,1), rgba($green-light, 1))
	background: -o-linear-gradient(245deg, rgba($blue,1), rgba($green-light, 1))
	background-size: 200% 200%
	opacity: 0.97
	//
	position: fixed
	top: 0
	bottom: 0
	width: 100%
	height: 100%
	display: table 
	&.-inactive 
		z-index: -1
		opacity: 0
	.cell-load 
		display: table-cell
		vertical-align: middle
		font-family: $f-semibold
		font-size: 1.2em
		color: #333
		h3 
			margin: 1em 0
			img 
				height: 90px
				width: auto
	.load
		width: 3em
		height: 3em
		text-align: center
		position: absolute 
		left: 50%
		margin: -1.5em
		-webkit-animation: circle infinite .65s linear
		-moz-animation: circle infinite .65s linear
		-o-animation: circle infinite .65s linear
		animation: circle infinite .65s linear
		border: 3px solid #fff
		border-top-color: transparent
		border-radius: 100%

.header 
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 4

.navbar-primary
	z-index: 1
	position: relative
	padding: 1em 0
	background-color: #fff
	border-bottom: 1px solid #b0ada4
	box-shadow: 0 0 6px #666
	.btn 
		display: inline-block
		cursor: pointer
		border: 0
	.btn.-back
		text-align: left
		left: 0
		border: 1px solid #999
		border-radius: 50%
		padding: 1.6em
		background-color: #fff
		background: image-url('ico-arrow-left.png') no-repeat center center 
	.lg 
		position: absolute 
		left: 50%
		top: 0
		margin-left: -83.5px
	.btn.-down
		position: absolute
		border-radius: 20px
		right: 0
		text-transform: uppercase
		font-size: 0.9em
		font-weight: 700
		color: $yellow-font
		padding: 1.8em
		&:before 
			content: ''
			position: absolute
			margin-left: -8px
			margin-top: -10.5px
			width: 17px
			height: 21px
			background: image-url('ico-download.png') no-repeat center center
		&.-y
			background: linear-gradient(to right, $yellow, $yellow-burned)
			background: -moz-linear-gradient(to right, $yellow, $yellow-burned)
			background: -webkit-linear-gradient(to right, $yellow, $yellow-burned)
			background: -o-linear-gradient(to right, $yellow, $yellow-burned)
		span 
			display: none
	@media (min-width: 769px)
		.btn.-down
			position: absolute
			border-radius: 20px
			right: 0
			text-transform: uppercase
			font-size: 0.9em
			font-weight: 700
			color: $yellow-font
			padding: 1em 2.6em 1.1em 4.4em
			&:before 
				content: ''
				position: absolute
				margin-left: -2.2em
				margin-top: -0.3em
				width: 17px
				height: 21px
				background: image-url('ico-download.png') no-repeat center center
			span 
				display: inline-block