/* ----------------------------------------------------------------------- */
/* HOME */
/* ----------------------------------------------------------------------- */

section
	width: 100%
	height: 100%
	position: relative

.coverphoto
	background-color: #f1f2f3
	height: 90vh
	overflow: hidden
	padding-top: 210px
	&:after 
		z-index: 0
		background: image-url('bg-coverphoto.png') no-repeat center center
		background-size: cover
		content: ''
		width: 200%
		height: 100%
		position: absolute
		left: -50%
		bottom: 10px
		border-radius: 0 0 50% 50%
		box-shadow: 0px 3px 0px 0px #666
	.tit
		z-index: 1
		position: relative 
		display: block
		font-family: $f-light
		font-size: 2.8em
		line-height: 1.2em
		color: #fff
		text-align: center
		&.-b
			font-family: $f-semibold
			display: block
	@media (min-width: 768px) and (max-width: 992px)
		&:after 
			background: image-url('bg-coverphoto.png') no-repeat center -70px
			background-size: auto 120%
			width: 140%
			left: -20%
	@media (min-width: 993px) and (max-width: 1200px)
		&:after 
			width: 140%
			left: -20%
			box-shadow: inset 0 0 10px #333
	@media (min-width: 1201px)
		&:after
			width: 120%
			left: -10%
			box-shadow: inset 0 0 10px #333

.slider
	.container 
		padding: 2em 0 4em
	.container > .btn
		position: absolute
		top: 50%
		margin-top: -45px
		width: 10vw
		height: 10vw
		box-shadow: 0 10px 30px rgba($blue-light, 0.3)
		border-radius: 50%
		@include transition(all, 0.2s, ease-in-out)
		&:hover 
			box-shadow: 0 15px 60px rgba($blue-light, 0.6)
			// @include scale(1.1)
		&.-inactive 
			border: 1px solid #e0e1e2
			background-color: transparent 
			box-shadow: 0 0 0
	.btn.-prev
		left: 0
		background: $blue-light image-url('ico-arrow-previus.png') repeat-x center center
		background-size: cover
		// &:hover 
		// 	background-position: -70px center 
	.btn.-next
		right: 0
		background: $blue-light image-url('ico-arrow-next.png') repeat-x center center
		background-size: cover
		// &:hover 
		// 	background-position: 70px center 
	.item 
		position: relative
		max-width: 840px
		width: 74%
		margin: 0 auto
		padding: 5%
		background-color: #fff
		border-radius: 40px
		border: 1px solid #ddd
		box-shadow: 0 10px 80px #ccc
		.tit 
			font-family: $f-semibold
			font-size: 1.6em
			color: $blue
			letter-spacing: 2px
			text-transform: uppercase
			margin-bottom: 1.6em
			@include transition(all, 2s, ease)
			&.-inactive 
				opacity: 0
			&:after 
				content: ''
				width: 90%
				border-bottom: 2px solid #dcdcdd
				position: absolute
				left: 5%
				right: 5%
				margin-top: 1.8em
		.txt 
			font-size: 1.2em
			line-height: 1.4em
			color: #626264
			padding: 0 1em
			// &:before 
			// 	content: '--trigguer'
			// 	position: absolute 
			// 	color: red
			// 	margin-top: -4em
			&.-inactive 
				opacity: 0
		&.-focus
			box-shadow: 0 10px 40px #ccc
	.-biometria 
		text-align: center
		.pic
			width: 130px
			height: 130px
			margin: 0 auto 1.4em
			border-radius: 30px
			padding-bottom: 2.1em
			border: 2px solid $blue
			background: image-url('pic-biometria.png') no-repeat center center
			background-size: 70% auto
			@include transition(all, 2s, ease)
			&.-inactive
				opacity: 0
	.btn.-more
		display: inline-block
		position: relative
		z-index: 3
		border-radius: 40px
		text-transform: uppercase
		font-size: 1.2em
		font-weight: 700
		color: #fff
		padding: 0.8em 2em
		margin-top: 1.6em
		letter-spacing: 2px
		@include transition(all, 0.2s, ease)
		-webkit-transition: opacity 4s linear, transform 0.2s ease, box-shadow 0.2s ease
		-moz-transition: opacity 4s linear, transform 0.2s ease, box-shadow 0.2s ease
		-o-transition: opacity 4s linear, transform 0.2s ease, box-shadow 0.2s ease
		transition: opacity 4s linear, transform 0.2s ease, box-shadow 0.2s ease
		// &:before 
		// 	content: ''
		// 	position: fixed 
		// 	z-index: -1
		// 	top: 0
		// 	left: 0
		// 	width: 100vw
		// 	height: 100vw
		// 	background-color: rgba($blue-light, 0.7)
		&.-b-g
			background: linear-gradient(to right, $blue-light, $green-light)
			background: -moz-linear-gradient(to right, $blue-light, $green-light)
			background: -webkit-linear-gradient(to right, $blue-light, $green-light)
			background: -o-linear-gradient(to right, $blue-light, $green-light)
		&.-inactive 
			@include transition(opacity, 4s, ease)
			opacity: 0
		&:hover 
			@include scale(1.08)
			box-shadow: 0 10px 40px rgba($blue-light, 0.4)
			// &:before 
			// 	z-index: 4
	@media (min-width: 769px) and (max-width: 1200px)
		.container > .btn
			width: 70px
			height: 70px
		// .btn.-previus
		// 	// background-size: 26% auto
		// .btn.-next
		// 	background-size: cover
		.item 
			padding: 7%
	@media (min-width: 1201px)
		margin-top: 66px
		.container > .btn
			width: 90px
			height: 90px
		// .btn.-previus
		// 	// background-size: 26% auto
		// 	background-size: cover
		// .btn.-next
		// 	// background-size: 26% auto
		// 	background-size: cover
		.item 
			padding: 5%
		.-biometria 
			text-align: center
			.tit 
				font-size: 2.2em
				margin-bottom: 1.6em
				&:after 
					content: ''
					width: calc(100% - 110px)
					border-bottom: 2px solid #dcdcdd
					position: absolute
					left: 55px
					right: 55px
					margin-top: 1.8em
			.txt
				font-size: 1.6em 
			.pic
				width: 160px
				height: 160px
				background: image-url('pic-biometria.png') no-repeat center center
				background-size: initial
		.btn.-more
			padding: 1.1em 4.4em
			font-size: 1.4em