	<footer class="footer">
		<div class="container">
			<address>
				<p>Banco Neon S.A. - CNPJ 00.253.448/0001-17 </p>
				<p>Av. Raja Gabaglia, 1143/17°andar - CEP: 30380-403</p>
				<p>Luxemburgo - Belo Horizonte - MG</p>
			</address>
			<div class="social">
				<ul>
					<li>
						<a href="#this" title="Facebook" class="">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
	<script src="js/application.js"></script>
</body>
</html>	