<!-- ga 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-715657-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- / ga -->

<!-- <a href="tel:06133283904" id="btn-call" class="available hidden-sm hidden-md hidden-lg"><i class="fa fa-phone"></i></a>
<a href="#this" id="menu-button">
    <ul class="hamburger"><li class="first"></li><li class="second"></li><li class="third"></li></ul>
</a> -->

<!-- <div id="loading" class="loading"><div class="cell-load text-center"><div class="load">&nbsp;</div></div></div> -->

<header class="header">
    <nav class="navbar-primary cl">
        <div class="container">
            <div class="lg">
                <a href="index.html"><img src="images/lg-artros.jpg" alt="Logomarca Artros Ortopedia"></a>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#servicos">Serviços</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>