@@if (context.mobile === true) {
    <nav class="nav-mobile">
        <div class="nav-menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="clinica.html">A Clínica</a></li>
                <li class="item-treatments">
                    <a href="#this" class="btn-treatments">Tratamentos</a>
                    <div class="nav-submenu">
                        <ul>
                            <li><a href="invisalign.html">Invisalign</a></li>
                            <li><a href="dtm-atm-e-dor-orofacial.html">DTM</a></li>
                            <li><a href="apneia-do-sono.html">Apnéia do sono</a></li>
                            <li><a href="fonoaudiologia.html">Fonoaudiologia</a></li>
                            <li><a href="proteses.html">Próteses</a></li>
                            <li><a href="bruxismo.html">Bruxismo</a></li>
                            <li><a href="lente-de-contato.html">Lente de contato</a></li>
                            <li><a href="snap-on-smile.html">Snap on smile</a></li>
                            <li><a href="implantes.html">Implantes</a></li>
                            <li><a href="endodontia.html">Endodontia</a></li>
                            <li><a href="clareamento.html">Clareamento</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item-treatments">
                    <a href="#this" class="btn-treatments">Ortodontia</a>
                    <div class="nav-submenu">
                        <ul>
                            <li><a href="damon-system.html">Damon system</a></li>
                            <li><a href="aparelho-lingual.html">Aparelho lingual</a></li>
                            <li><a href="invisalign.html">Invisalign</a></li>
                            <li><a href="myobrace.html">Myobrace</a></li>
                            <li><a href="in-ovation.html">In-Ovation</a></li>
                            <li><a href="inspire-ice.html">Inspire Ice</a></li>
                            <li><a href="trainer-system.html">Trainer System</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="dtm-atm-e-dor-orofacial.html">DTM</a></li>
                <li><a href="informacoes.html">Informações</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
            <ul class="list-social">
                <li><a target="_blank" href="https://www.facebook.com/ortobrasilia/"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/clinicaortobrasilia/"><i class="fa fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCHQmu2z40elxyRsdm_2g7_w"><i class="fa fa-youtube-play"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/108407391724130372235"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </nav>
}

@@if (context.mobile != true) {
    <nav>
        <ul class="menu">
            <li class="item"><a href="index.html">Home</a></li>
            <li class="item"><a href="clinica.html">A Clínica</a></li>
            <li class="item btn-submenu">
                <a href="#this">Tratamentos</a>
                <div class="nav-submenu">
                    <ul>
                        <li><a href="invisalign.html">Invisalign</a></li>
                        <li><a href="dtm-atm-e-dor-orofacial.html">DTM</a></li>
                        <li><a href="apneia-do-sono.html">Apnéia do sono</a></li>
                        <li><a href="fonoaudiologia.html">Fonoaudiologia</a></li>
                        <li><a href="proteses.html">Próteses</a></li>
                        <li><a href="bruxismo.html">Bruxismo</a></li>
                        <li><a href="lente-de-contato.html">Lente de contato</a></li>
                        <li><a href="snap-on-smile.html">Snap on smile</a></li>
                        <li><a href="implantes.html">Implantes</a></li>
                        <li><a href="endodontia.html">Endodontia</a></li>
                        <li><a href="clareamento.html">Clareamento</a></li>
                    </ul>
                </div>
            </li>
            <li class="item btn-submenu">
                <a href="#this">Ortodontia</a>
                <div class="nav-submenu">
                    <ul>
                        <li><a href="damon-system.html">Damon system</a></li>
                        <li><a href="invisalign.html">Invisalign</a></li>
                        <li><a href="aparelho-lingual.html">Aparelho lingual</a></li>
                        <li><a href="myobrace.html">Myobrace</a></li>
                        <li><a href="in-ovation.html">In-Ovation</a></li>
                        <li><a href="inspire-ice.html">Inspire Ice</a></li>
                        <li><a href="trainer-system.html">Trainer System</a></li>
                    </ul>
                </div>
            </li>
            <li class="item"><a href="dtm-atm-e-dor-orofacial.html">DTM</a></li>
            <li class="item"><a href="informacoes.html">Informações</a></li>
            <li class="item"><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
}