@@if (context.homePage != true && context.page != "invisalign") {

	<section class="section section-call_consulta--in">
		<a href="#marcar-consulta">
			<h1 class="fa fa-calendar-check-o">Marcar consulta</h1>
		</a>
	</section>

}

@@if (context.homePage != true && context.page == "invisalign") {

	<section class="section section-call_consulta--in">
		<a href="#marcar-consulta">
			<h1 class="fa fa-calendar-check-o">Marcar consulta</h1>
		</a>
	</section>

}


@@if (context.homePage == true) {

	<section class="section section-call_consulta">
		<a href="#marcar-consulta">
			<h1 class="fa fa-calendar-check-o">Marcar consulta</h1>
		</a>
	</section>

}