@@if (context.page == "contato") {
	<section class="section section-contato " id="marcar-consulta">
}
@@if (context.page != "contato") {
	<section class="section section-contato" id="marcar-consulta">
}
		<div class="col-lg-5 col-md-6 col-sm-7 col-xs-9 col box-form_contato">
			<h1 class="title">
				<i class="fa fa-calendar-check-o"></i>
				Marque sua consulta 
				<span><em>ou nos envia uma mensagem</em></span>
			</h1>
			<form action="#this" class="form-contato" id="form-contato">
				<div class="select-field">
					<i class="fa fa-caret-down"></i>
					<label class="label" for="field-assunto">Assunto *</label>
					<select name="" id="field-assunto">
						<option value="0">Marcar consulta</option>
						<option value="1">Administração</option>
						<option value="2">Recepção</option>
						<option value="3">Outros</option>
					</select>
				</div>
				<div class="select-field">
					<i class="fa fa-caret-down"></i>
					<label class="label" for="field-unidade">Unidade *</label>
					<select name="unidade" id="field-unidade">
						<option value="0"></option>
						<option value="1">Águas Claras</option>
						<option value="2">Conjunto Nacional</option>
						<option value="3">Guará</option>
						<option value="4">Taguatinga</option>
					</select>
				</div>
				<div class="input-field">
					<label class="label" for="field-nome">Nome*</label>
					<input type="text" id="field-nome" class="disabled" disabled>
				</div>
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-mail">
						<div class="col-lg-9 input-field">
							<label class="label" for="field-email">e-mail</label>
							<input type="email" id="field-email" class="disabled" disabled>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-tel">
						<div class="input-field">
							<label class="label" for="field-telefone">Telefone</label>
							<input type="text" id="field-telefone" class="disabled" disabled>
						</div>
					</div>
				</div>
				<div class="textarea-field">
					<label class="label" for="field-mensagem">Mensagem*</label>
					<textarea name="" id="field-mensagem" class="disabled" disabled></textarea>
				</div>
				<div class="input-field">
					<div class="col-text">
						<em class="warning">* Campos obrigatórios</em>
					</div>
					<div class="col-submit">
						<input type="submit" name="" value="Enviar" class="submit disabled" disabled>
					</div>
				</div>
			</form>
		</div>
	</section>