<aside class="sidebar">
	<h3 class="title">Tratamentos</h3>
	<ul>
		<li><a href="dtm-atm-e-dor-orofacial.html">DTM: ATM e dor Orofacial</a></li>
		<li><a href="apneia-do-sono.html">Apnéia do sono</a></li>
		<li><a href="fonoaudiologia.html">Fonoaudiologia</a></li>
		<li><a href="proteses.html">Próteses</a></li>
		<li><a href="bruxismo.html">Bruxismo</a></li>
		<li><a href="lente-de-contato.html">Lente de contato</a></li>
		<li><a href="snap-on-smile.html">Snap on smile</a></li>
		<li><a href="implantes.html">Implantes</a></li>
		<li><a href="endodontia.html">Endodontia</a></li>
		<li><a href="clareamento.html">Clareamento</a></li>
	</ul>
	<h3 class="title">Ortodontia</h3>
	<ul>
		<li><a href="invisalign.html">Invisalign</a></li>
		<li><a href="aparelho-lingual.html">Aparelho lingual</a></li>
		<li><a href="damon-system.html">Damon system</a></li>
		<li><a href="myobrace.html">Myobrace</a></li>
		<li><a href="in-ovation.html">In-Ovation</a></li>
		<li><a href="inspire-ice.html">Inspire Ice</a></li>
		<li><a href="trainer-system.html">Trainer System</a></li>
	</ul>
	<div class="banners hidden-sm hidden-xs">
		<div class="item">
			<a href="invisalign.html" title="Invisalign">
				<p><img src="images/banner-sidebar-invisalign.jpg" class="img-shadow" alt="Banner Invisalign"></p>
				<h3>Conheça o aparelho invisível!</h3>
			</a>
		</div>
		<div class="item">
			<a href="atm-e-dor-orofacial.html" title="DTM">
				<p><img src="images/banner-sidebar-atm.jpg" class="img-shadow" alt="Banner Atm"></p>
				<h3>DTM: Atm e dor orofacial </h3>
			</a>
		</div>
	</div>
</aside>